In [1]:
import pandas as pd
from datetime import datetime
import time
import numpy as np
import re
import datetime

import tensorflow as tf

C:\Python\Anaconda3-52\lib\site-packages\h5py\__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters

In [2]:
df = pd.read_csv('./team_project_2/basic_dataset/SanFrancisco_Crime_Classification/tmp_theft.csv',encoding = 'utf-8')

In [3]:
del df["Unnamed: 0"]

In [4]:
# 가로, 세로를 몇 개로 나눌지 x_n, y_n만 바꾸면 됨
x_n=5
y_n=5
X_category=[]
for i in range(x_n+1):
    x_category = min(df['X'])+ ((max(df['X'])-min(df['X']))/x_n)*(i)
    X_category.append(x_category)
print("X_category:",X_category)

Y_category=[]
for i in range(y_n+1):
    y_category = min(df['Y'])+ ((max(df['Y'])-min(df['Y']))/y_n)*(i)
    Y_category.append(y_category)
print("Y_category:",Y_category)

X_category: [-122.51364206429, -122.110913651432, -121.708185238574, -121.30545682571599, -120.902728412858, -120.5]
Y_category: [37.7079683645097, 48.166374691607764, 58.62478101870582, 69.08318734580388, 79.54159367290194, 90.0]

In [5]:
X=[]
for idx in range(len(df['X'])):
    if df['X'][idx] <= X_category[1]:
        X.append((X_category[1]+X_category[0])/2)
        continue
    if df['X'][idx] <= X_category[2]:
        X.append((X_category[2]+X_category[1])/2)
        continue
    if df['X'][idx] <= X_category[3]:
        X.append((X_category[3]+X_category[2])/2)
        continue
    if df['X'][idx] <= X_category[4]:
        X.append((X_category[4]+X_category[3])/2) 
        continue
    else:
        X.append((X_category[5]+X_category[4])/2)        
len(X)

174900

In [6]:
Y=[]
for idx in range(len(df['Y'])):
    if df['Y'][idx] <= Y_category[1]:
        Y.append((Y_category[1]+Y_category[0])/2)
        continue
    if df['Y'][idx] <= Y_category[2]:
        Y.append((Y_category[2]+Y_category[1])/2)
        continue
    if df['Y'][idx] <= Y_category[3]:
        Y.append((Y_category[3]+Y_category[2])/2)
        continue
    if df['Y'][idx] <= Y_category[4]:
        Y.append((Y_category[4]+Y_category[3])/2) 
        continue
    else:
        Y.append((Y_category[5]+Y_category[4])/2)
len(Y)

174900

In [7]:
df_X=pd.DataFrame(X).rename(columns={0:'X_group'})
df_Y=pd.DataFrame(Y).rename(columns={0:'Y_group'})

In [8]:
df_crime= pd.concat([df, df_X, df_Y], axis=1)
df_crime.head()

,Dates,Category,Descript,DayOfWeek,PdDistrict,Resolution,Address,X,Y,Date,...,INGLESIDE,MISSION,NORTHERN,PARK,RICHMOND,SOUTHERN,TARAVAL,TENDERLOIN,X_group,Y_group
0,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,NORTHERN,NONE,1500 Block of LOMBARD ST,-122.426995,37.800873,2015-05-13 23:30:00,...,0,0,1,0,0,0,0,0,-122.312278,42.937172
1,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,PARK,NONE,100 Block of BRODERICK ST,-122.438738,37.771541,2015-05-13 23:30:00,...,0,0,0,1,0,0,0,0,-122.312278,42.937172
2,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM UNLOCKED AUTO,Wednesday,INGLESIDE,NONE,0 Block of TEDDY AV,-122.403252,37.713431,2015-05-13 23:30:00,...,1,0,0,0,0,0,0,0,-122.312278,42.937172
3,2015-05-13 23:00:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,RICHMOND,NONE,600 Block of 47TH AV,-122.508194,37.776601,2015-05-13 23:00:00,...,0,0,0,0,1,0,0,0,-122.312278,42.937172
4,2015-05-13 23:00:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,CENTRAL,NONE,JEFFERSON ST / LEAVENWORTH ST,-122.419088,37.807802,2015-05-13 23:00:00,...,0,0,0,0,0,0,0,0,-122.312278,42.937172

In [9]:
del df_crime['Category_index']

In [10]:
df_crime.columns

Index(['Dates', 'Category', 'Descript', 'DayOfWeek', 'PdDistrict',
       'Resolution', 'Address', 'X', 'Y', 'Date', 'Year', 'Month', 'Day',
       'Hour', 'DayOfWeek_index', 'PdDistrict_index', 'Descript_index',
       'Resolution_index', 'Address_index', 'Friday', 'Monday', 'Saturday',
       'Sunday', 'Thursday', 'Tuesday', 'Wednesday', 'BAYVIEW', 'CENTRAL',
       'INGLESIDE', 'MISSION', 'NORTHERN', 'PARK', 'RICHMOND', 'SOUTHERN',
       'TARAVAL', 'TENDERLOIN', 'X_group', 'Y_group'],
      dtype='object')

In [11]:
df_crime =df_crime[['Dates', 'Category', 'Descript', 'DayOfWeek', 'PdDistrict',
       'Resolution', 'Address', 'X', 'Y', 'Date', 'Year', 'Month', 'Day', 'DayOfWeek_index', 'PdDistrict_index',
       'Descript_index', 'Resolution_index', 'Address_index', 
       'Monday', 'Tuesday', 'Wednesday','Thursday', 'Friday','Saturday', 'Sunday', 
       'BAYVIEW', 'CENTRAL', 'INGLESIDE', 'MISSION', 'NORTHERN', 'PARK',
       'RICHMOND', 'SOUTHERN', 'TARAVAL', 'TENDERLOIN', 'X_group', 'Y_group',
       'Hour']]

In [12]:
df_crime.head()

,Dates,Category,Descript,DayOfWeek,PdDistrict,Resolution,Address,X,Y,Date,...,MISSION,NORTHERN,PARK,RICHMOND,SOUTHERN,TARAVAL,TENDERLOIN,X_group,Y_group,Hour
0,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,NORTHERN,NONE,1500 Block of LOMBARD ST,-122.426995,37.800873,2015-05-13 23:30:00,...,0,1,0,0,0,0,0,-122.312278,42.937172,23
1,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,PARK,NONE,100 Block of BRODERICK ST,-122.438738,37.771541,2015-05-13 23:30:00,...,0,0,1,0,0,0,0,-122.312278,42.937172,23
2,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM UNLOCKED AUTO,Wednesday,INGLESIDE,NONE,0 Block of TEDDY AV,-122.403252,37.713431,2015-05-13 23:30:00,...,0,0,0,0,0,0,0,-122.312278,42.937172,23
3,2015-05-13 23:00:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,RICHMOND,NONE,600 Block of 47TH AV,-122.508194,37.776601,2015-05-13 23:00:00,...,0,0,0,1,0,0,0,-122.312278,42.937172,23
4,2015-05-13 23:00:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,CENTRAL,NONE,JEFFERSON ST / LEAVENWORTH ST,-122.419088,37.807802,2015-05-13 23:00:00,...,0,0,0,0,0,0,0,-122.312278,42.937172,23

In [13]:
df_crime.columns

Index(['Dates', 'Category', 'Descript', 'DayOfWeek', 'PdDistrict',
       'Resolution', 'Address', 'X', 'Y', 'Date', 'Year', 'Month', 'Day',
       'DayOfWeek_index', 'PdDistrict_index', 'Descript_index',
       'Resolution_index', 'Address_index', 'Monday', 'Tuesday', 'Wednesday',
       'Thursday', 'Friday', 'Saturday', 'Sunday', 'BAYVIEW', 'CENTRAL',
       'INGLESIDE', 'MISSION', 'NORTHERN', 'PARK', 'RICHMOND', 'SOUTHERN',
       'TARAVAL', 'TENDERLOIN', 'X_group', 'Y_group', 'Hour'],
      dtype='object')

In [14]:
min(df_crime['X_group']),max(df_crime['X_group'])

(-122.312277857861, -120.70136420642899)

In [15]:
# df_crime['Wednesday']

In [16]:
df_crime.to_csv('./team_project_2/basic_dataset/SanFrancisco_Crime_Classification/theft_dataset.csv',sep=',', encoding='utf-8')

In [22]:
# with open("./data/theft_dataset.csv", "rb") as f:
#    data = f.read().split(',')
#    data = np.array(data)  #convert array to numpy type array

#    x_train ,x_test = train_test_split(data,test_size=0.7)

TypeError: a bytes-like object is required, not 'str'

In [26]:
from sklearn.datasets import load_boston

df_crime_train, df_crime_test train_test_split(df_crimem )